@import url("https://fonts.googleapis.com/css2?family=Delius+Unicase:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Delius+Unicase:wght@400;700&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "DM Sans";
}

nav {
  background-color: #6f6af7;
  color: white;
  font-size: 1.3vw;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  padding: 1%;
  position: fixed;
  top: 0;
}

.logo {
  font-family: "delius unicase";
  color: white;
  font-weight: 700;
  font-size: 4vw;
}

.down {
  height: 1.4vw;
  margin-top: 5%;
}

.search-icon {
  height: 1.2vw;
}

#search-box input {
  border: none;
}

#search-box input:focus {
  outline: none;
}

#search-box {
  background-color: white;
  display: flex;
  padding: 0.45%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 1em;
}

.hamburger {
  height: 2.5vw;
}

.more {
  display: flex;
  align-items: center;
}

.chat {
  height: 18%;
  position: fixed;
  top: 85%;
  left: 85%;
}

.social{
    height: 10vw;
}

aside{
    float: right;
    margin-top: 15%;
    position: sticky;
    top: 35%;
}

.main {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 3%;
  overflow-x: hidden;
  margin-top: 8%;
}

.main img {
  height: 33vw;
}

textarea {
  padding: 3%;
  border-radius: 1rem;
  border: none;
  background-color: #e5d8ff;
  resize: none;
  color: #6f7373;
  font-size: 1.2rem;
}

textarea:focus {
  outline: none;
}


.cards{
    display: flex;
    justify-content: space-evenly;
    color: white;
    font-weight: 700;
    text-wrap: wrap;
}

.card{
    height: 10%;
    width: 15%;
    border-radius: 1rem;
    padding: 2%;
    line-height: 2.2;
}

.card1{
    background-color: #929DFF;
}

.card2{
    background-color: #734CF2;
}

.card3{
    background-color: #D288FF;
}

.card4{
    background-color: #000000;
}


.info{
    background-color: #483EFF;
    height: 30vw;
    width:80%;
    border-radius: 1rem;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 10%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.left{
    padding: 5%;
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.card-info{
    height: 5vw;
    width: 15vw;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 1rem;
    font-weight: 700;
    font-size: 1.2rem;
    background-color: transparent;
    color: white;
    border: 0.2rem solid white;
}


.card-info-1{
    background-color: #BCE0F6;
    color: black;
    border: none;
}

.right{
    width: 60%;
    height: 85%;
    background-color: white;
    border-radius: 1rem;
    padding: 4%;
}


.right h2{
    line-height: 1.5;
}

.right pre{
    font-family: 'Roboto';
    padding: 2%;
}

.right pre span{
    font-weight: 500;
}


.right button{
    background-color: black;
    border: none;
    color: white;
    width: 13%;
    padding: 1.5%;
    font-weight: 400;
    font-size:1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2%;
    border-radius: 5px;
    position: relative;
    left: 85%;
    top: 10%;
}


@media (max-width: 1300px) {
  .main {
    display: flex;
    flex-direction: column;
  }
}

@media (max-width: 500px) {
  .chat {
    height: 30vw;
    left: 70%;
  }

  .main img{
    height: 44vh;
    padding: 5%;
  }

  textarea{
    width: 90%;
    margin-left: 5%;
  }

  .cards{
    flex-direction: column;
    gap: 5vw;
    margin-left: 10%;
    margin-top: 10%;
  }

  .card{
    width: 90%;
  }

  .social{
    height: 20vw;
  }
}
